<div id="profile-content">
    <form>
        <label class="lead" for="currentEmail">Email</label>
        <span class="hidden-sm-down"><%= userDetails.email %></span>

        <label class="lead" for="newEmail">New Email:</label>
        <input name="currentEmail" id="newEmail" type="text" class="form-control" placeholder='<%= userDetails.email %>'>
        <br>
        <button class="btn btn-success form-control" type='submit' value="submit" role="button">Update</button>
    </form>
</div>