<div class="page-header">
    <h1>User Details</h1>
</div>
<div id="profile-content">
    <p class="lead">Edit your details here.</p>

    <form>
        <label class="lead" for="">Username: <%= userDetails.username %></label>
        <br>
        <label class="lead" for="">Name: <%= userDetails.firstName %> <%= userDetails.lastName %></label>
    </form>
</div>