<div class="container" id="supply-container">
    <p>
        Upload an image to the right panel for data analysis.
        Click the submit button when you are satisfied with your contribution.
    </p>
    <form ref='uploadForm'
    id='upload' 
    action='/upload' 
    method='post' 
    encType='multipart/form-data'>
        <!-- Input button -->
        <input name="uploadedImg" type="file" class="image-upload" accept="image/*" />
        <input type="submit" value="Submit" class="btn btn-dark standard-btn w-25" role="button" />
    </form>
</div>