<div class="container" id="supply-container">
    <p>
        Upload an image of any kind to the panel in the right for data analysis.
        Click the submit button below when you are satisfied with your contribution.
    </p>
    <form action="#" method="POST" id="supply-form">
        <input type="submit" value="Submit" class="btn btn-dark standard-btn w-25" role="button">
    </form>
</div>