<div class="container" id="supply-container">
    <p>
        Upload an image to the right panel for data analysis.
        Click the submit button when you are satisfied with your contribution.
    </p>
    <form ref='uploadForm'
    id='upload' 
    action='/upload' 
    method='post' 
    encType='multipart/form-data'>
        <!-- Input button -->
        <label id="#upload-wrapper" for="img-upload" class="btn btn-secondary standard-btn w-50">
            <i class="far fa-image"></i> Select an image
        </label>
        <input id="img-upload" name="uploadedImg" type="file" class="form-control" accept="image/*"><br>
        <input type="submit" value="Submit" class="btn btn-dark standard-btn w-25" role="button">
    </form>
</div>