html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.center-content {
    margin: 0 auto;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #f5f5f5;
}

#footer-content {
    padding-top: 1em;
    padding-bottom: 1em;
}

.standard-btn {
    border-radius: 20px !important;
}

.btn-header {
    border: #616970 1px solid !important;
    width: 100%;
    border-radius: 0 !important;
    margin-left: -0.3em !important;
}

.dropdown {
    padding: 0 !important;
}

.dropdown-toggle {
    padding-right: 0 !important;
    padding-left: 0 !important;
    border-radius: 0 !important;
}

#dropdown-btn {
    color: #616970;
}

#dropdown-btn::after {
    border: none !important;
}

.dropdown-menu {
    transform: translate3d(0px, 93px, 0px) !important;
    padding: 0 !important;
    border: none !important;
    top: -1px !important;
}

#header-menu {
    display: table;
    width: 100%;
    padding: 0 !important;
}

#header-menu a {
    width: 16.6666666667%;
    display: table-cell;
}

#carousel-header {
    padding-left: 2.4em;
    padding-right: 2.4em;
}

#index-main {
    margin-top: 10em;
}

#content-secondary {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.index-symbol {
    font-size: 3em;
    color: #6c757d;
}

#datatypes {
    margin-bottom: 1em;
}

#labelling-wrapper, #sort-wrapper {
    display: none;
}

#label-list {
    border: none !important;
    box-shadow: 1px 1px 4px #a1a1a1;
}

.label {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px #d9d9d9 solid !important;
}

#annotate-form {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#supply-container {
    padding-top: 1em;
    padding-left: 5em;
    padding-right: 5em;
}

#annotate-container {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#img-placeholder {
    width: 100%;
}

#upload-wrapper {
    cursor: pointer;
}

#img-upload {
    border: none !important;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

#img-preview {
    display: none;
    min-width: 100%;
    min-height: 100%;
    max-width:100%;
    max-height:100%;
}

#img-frame {
    box-shadow: 1px 1px 4px #a1a1a1
}

.row p {
    padding-left: 2em;
    padding-right: 2em;
}

.validate-warning {
    color: #dc3545;
    visibility: hidden;
}

#page-container {
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

#content-wrap {
    padding-bottom: 5rem;  
  }

#content-container {
    text-align: center;
    margin-top: 10em;
}

.content-container {
    text-align: center;
    margin-top: 10em;
}

/* === USER_DETAILS.EJS === */
#details-container {
    width: 100%;
    margin-top: 5.8em;
}

#details-wrap {
    padding-bottom: 5rem;
}

.details-tab {
    margin: 0 auto;
    width: 70%;
}

#menu-items {
    padding-top: 2em;
    width: 100%;
    margin-right: 15%;
}

#details-row p {
    padding: 0 !important;
}

#profile-content {
    margin-left: 0.5em;
}

#sidebar {
    padding: 0 !important;
    background-color: #f2f2f2;
    max-width: 15% !important;
    margin-bottom: -5rem;
}

#sidebar .list-group-item {
    border-radius: 0;
    background-color: #f2f2f2;
    color: black;
    border-left: 0;
    border-right: 1px solid;
    border-color: #e6e6e6;
    white-space: nowrap;
    text-decoration: none;
}

#sidebar .list-group-item:hover {
    color: white;
    background-color: #bfbfbf;
}

/* highlight active menu */
#sidebar .list-group-item:not(.collapsed) {
    background-color: lightgray;
}

/* closed state */
#sidebar .list-group .list-group-item[aria-expanded="false"]::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* open state */
#sidebar .list-group .list-group-item[aria-expanded="true"] {
    color: white;
    background-color: #222;
}
#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* level 1*/
#sidebar .list-group .collapse .list-group-item  {
  padding-left: 20px;
}

/* level 2*/
#sidebar .list-group .collapse > .collapse .list-group-item {
  padding-left: 30px;
}

/* level 3*/
#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
  padding-left: 40px;
}

@media (max-width:48em) {
    /* overlay sub levels on small screens */
    #sidebar .list-group .collapse.in, #sidebar .list-group .collapsing {
        position: absolute;
        z-index: 1;
        width: 190px;
    }
    #sidebar .list-group > .list-group-item {
        text-align: center;
        padding: .75rem .5rem;
        min-width: 39px;
    }
    /* hide caret icons of top level when collapsed */
    #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
    #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
        display:none;
    }
}

/* change transition animation to width when entire sidebar is toggled */
#sidebar.collapse {
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

#sidebar.collapsing {
  opacity: 0.8;
  width: 0;
  -webkit-transition-timing-function: ease-in;
       -o-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-property: width;
       -o-transition-property: width;
          transition-property: width;

}

.active-side-btn {
    background-color: #222 !important;
    color: white !important;
    border-color: #222 !important;
}

.profile-input {
    width: 96% !important;
    display: inline-block !important;
}

.name-input {
    width: 47.8% !important;
    display: inline-block !important;
}

.edit-btn {
    color: #212529 !important;
    border: none !important;
    border-radius: 0px !important;
    background: none !important;
    padding: 0 !important;
}

#sidebar-btn-group {
    position: fixed; 
    width: 15%;
}

.edit-warning {
    color: #ffc107;
}

#user-progress {
    height: 2em;
    border: none !important;
}

.text-divider {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, .35);
    margin: 8px 0px;
}

.text-divider:before, .text-divider:after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, .1);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
}

.dataset {
    margin: 0 auto !important;
    width: 80%;
    border: 1px rgba(0, 0, 0, .35) solid;
    border-radius: 10px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.dataset-icon {
    border: 1px rgba(0, 0, 0, .35) solid;
    border-radius: 5px;
}

.legend {
    display: inline-block;
    border: solid 2px #5E5E5E;
    border-radius: 3px;
    width: 1.25em;
    height: 1.15em;
    margin-right: 1.5em;
}

#data-type-legend {
    background-color: #3AA6DD;
}

#annotation-type-legend {
    background-color: #99D5CA;
}

#community-status-legend {
    background-color: #FF8F80;
}

@media (min-width: 992px) {
    .animate {
        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}
    
  @keyframes slidein {
    0% {
      transform: translateY(3.35em);
      opacity: 0;
    }
    100% {
      transform:translateY(5.75em);
      opacity: 1;
    }
    /*0% {
      transform: translateY(3em);
      opacity: 0;
    }*/
  }
  
  @-webkit-keyframes slidein {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
    0% {
      -webkit-transform: translateY(1em);
      -webkit-opacity: 0;
    }
  }
  
  .slidein {
    -webkit-animation-name: slidein;
    animation-name: slidein;
  }