<!DOCTYPE html>
<html>
    <%- include('templates/head'); -%>

    <body>
        <% include('templates/navbar'); -%>

        <!-- Explains Oyster -->
        <div class="jumbotron">
            <h1>About LeyLine</h1>
            <p>Data is much more than your secrets. Data is EVERYTHING.</p> 
            <p>Random images, sound files and blobs of text are all pieces of DATA.
            And believe it or not, somewhere in the world there is an AI engineer begging for your photos to build the next big thing.</p>
                
            <p>LeyLine is a data train. It is a public service tool contributing , aiming to unite the demanders of data with the suppliers - YOU.</p>
                That's right: YOU have the power to contribute to the AI industry, regardless of how little you know about it.
                DataSpot exists to mine data for AI scientists, via the consensual uploads and annotations of regular people.
                With DataSpot, anyone can be involved in building Artificial Intelligence (AI). And you will be rewarded for your contributions.

                By contributing image data to the OCEAN blockchain, especially in-demand image data, you are speeding up technological progress globally. 
                Thousands of AI models are being invented right now. These inventions could change the world. But... they need YOUR images to learn.
                Every time you contribute quality data to DataSpot, you are creating value for the economy.

                You will need to register with us before you upload any data and receive rewards. 
                See THIS PAGE for data rewards criteria. 
                If the data you submit follows all the criteria, we will reward you with Spot Tokens.</p>

            <h1>Why am I getting paid to draw boxes around images?</h1>
            <p>*BRIEFLY EXPLAIN HOW AI WORKS FOR DUMMIES*</p>

            <h1>How can I cash in my Spot Tokens?</h1>
            <p>Spot Tokens directly translate into OCEAN tokens -- an official cryptocurrency.
            Spot Tokens are stored on your account until you are ready to translate them into OCEAN tokens.</p>

            
            <p>Before you can exchange your Oyster tokens into OCEAN tokens, you need to:
            <ol>
                <li>Prove your identity.</li>
                <li>Register with a crypto trading platform.</li>
                <li>[Optional, but highly recommended] Create a secure Crypto wallet which can store OCEAN.</li>
            </ol>
            </p>

            <p>Then, you need to register an account with one of the cryptocurrency trades below:
                <ul>
                    <li>Binance</li>
                    <li>Kraken</li>
                    <li>Kucoin</li>
                    <li>eToro</li>
                    <li>Gemini</li>
                    <li>Coinbase (not recommended for Australians or Singaporeans)</li>
                    <li>Swyftx (for Australians)</li>
                </ul>
            Once you have registered your crypto trading account and your secure cryptocurrency wallet, fill out your details on THIS PAGE.
            OCEAN tokens can be translated into cash. Their value fluctuates, but they will always have some monetary value. 
            </p>
            </p>

            <h1>The Technical Details</h1>
            <h3>Where does my data go?</h3>
            <p></p>
        </div>
    </body>
</html>