<!DOCTYPE html>
<html>
    <%- include('templates/head', {subtitle: "Datasets"}); -%>
    <body>
        
        <div id="page-container">
            <div id="content-wrap">
                <%- include ('templates/header'); -%>
                <div class="container" id="content-container">
                    <h1>Datasets</h1>
                    <hr>
                    <% for(var i = 0; i < 10; i++) { %>
                        <%- include('templates/dataset') -%>
                    <% } %>
                    <nav aria-label="Dataset pagination">
                        <ul class="pagination" style="width: 25%; margin: 0 auto;">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </body>
</html>