<!DOCTYPE html>
<html>
    <%- include('templates/head', {subtitle: "Datasets"}); -%>
    <body>
        
        <div id="page-container">
            <div id="content-wrap">
                <%- include ('templates/header'); -%>

                <div class="container" id="content-container">
                    <%- include('templates/dataset') -%>
                </div>
            </div>
        </div>

    </body>
</html>