<!DOCTYPE html>
<html>
    <%- include('templates/head'); -%>
    <body>
        
        <div id="page-container">
            <div id="content-wrap">
                <%- include ('templates/header'); -%>

                <div class="container" id="content-container">
                    
                </div>
            </div>
        </div>

    </body>
</html>