<div class="jumbotron">
    <h3>How much will I earn from LeyLine?</h3>
    If you supply, annotate and sort images, you will earn 
    <p>Your earnings depend heavily on: </p>
    <ul>
        <li>How much data you contribute</li>
        <li>Which datasets you contribute to</li>
        <li>The quality and value of your data, which is affected by...</li>
        <li>The supply vs. demand of the dataset you're contributing to.</li>
    </ul>
    <p>Before you go deeper with LeyLine, there are two categories of dataset you need to be aware of: </p>
    <div class="jumbotron">
        <h4>FIXED PRICE DATASETS (recommended)</h4>
        <p>These datasets have a fixed price, specified by their commissioner.
        Their price may increase in the future, but they will never go below their Fixed Price.
        They are guaranteed to have value once they are completed.
        LeyLine highly recommends casual users to work on these datasets.
        </p>
    </div>
    <div class="jumbotron">
        <h4>SPECULATIVE PRICE DATASETS</h4>
        <p>These datasets are created by users or imported from other locations on the web.
        They have no guarunteed value.
        </p>
    </div>
</div>