<!DOCTYPE html>
<html>
    <%- include('templates/head', {subtitle: "Register"}); -%>
    <body>
        <%- include ('templates/header'); -%>
        <div class="container">
            <form class="form-signin" style="text-align: center; margin-top: 10em;">
                <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Please enter your details</h1>
                <p>Don't worry, your personal data is 100% private with us.</p>
                <hr>
                
                <div class="row">
                    <div class="col">
                        
                        <label for="registerUsername">Username: </label>
                        <input id="registerUsername" type="text" class="form-control" placeholder="Username" required>
                        
                        <label for="registerEmail">Email: </label>
                        <input id="registerEmail" type="email" class="form-control" placeholder="Email address" required>

                    </div>
                    <div class="col">
                        <label for="registerPassword">Password:</label>
                        <input id="registerPassword" type="password" class="form-control" placeholder="Password" required>
                        <label for="verifyPassword">Verify Password:</label>
                        <input id="verifyPassword" type="password" class="form-control" placeholder="Verify Password" required>
                    </div>
                </div>

                <br>
                <hr />

                <div class="row">
                    <div class="col">
                        <h6>OPTIONAL DATA: You must provide this data at some point to give and receive payments.</h6>
                        <!-- This button should collapse the entire row -->
                        <input type="checkbox" id="data-provide" name="data-provide">
                        <label for="data-provide"> I'll provide this later.</label>
                        <br>
                        <label for="registerFirstName">First Name: </label>
                        <input id="registerFirstName" type="text" class="form-control" placeholder="First Name">
                        
                        <label for="registerLastName">Last Name: </label>
                        <input id="registerLastName" type="text" class="form-control" placeholder="Last Name">
                    </div>
                </div>

                <br>

                <!-- Submit button -->
                <button class="btn btn-success" type="submit">Register</button>
                <button class="btn btn-danger">Back</button>
                <p class="mt-5 mb-3 text-muted">© 2020-2021</p>
            </form>
        </div>
        <%- include('templates/footer') %>
        <script src="/javascripts/register.js"></script>
    </body>
</html>