<!DOCTYPE html>
<html>
    <%- include('templates/head', {subtitle: "User Details"}); -%>
    <body>
        <div id="page-container">
            <div id="content-wrap">
                <%- include ('templates/header'); -%>
                <div class="container" id="content-container">

                    <!-- Got this from Bootstrap Scrollspy -->
                    <div id="list-example" class="list-group">
                        <a class="list-group-item list-group-item-action" href="#list-item-1">User Information</a>
                        <a class="list-group-item list-group-item-action" href="#list-item-2">Email</a>
                        <a class="list-group-item list-group-item-action" href="#list-item-3">Security</a>
                        <a class="list-group-item list-group-item-action" href="#list-item-4">Privacy</a>
                        <a class="list-group-item list-group-item-action" href="#list-item-5">Payment Details</a>
                        <a class="list-group-item list-group-item-action" href="#list-item-6">Bank Details</a>
                        <a class="list-group-item list-group-item-action" href="#list-item-7">Crypto Wallets</a>
                    </div>

                </div>

            </div>
        </div>

    </body>
</html>