<!DOCTYPE html>
<html>
    <%- include('templates/head', {subtitle: userDetails.username }); -%>
    <body>
        <div id="page-container">
            <div id="details-wrap">
                <%- include ('templates/header'); -%>
                <div id="details-container">

                    <!-- Code imported from https://medium.com/@TechVisually/vertical-accordion-sidebar-8cd0a1d9d2a5 -->
                    <div class="container-fluid">
                        <div class="row" id="details-row">
                            <div class="col-md-3 col-xs-1 p-l-0 p-r-0 in" id="sidebar">
                                <!-- Items -->
                                <div id="sidebar-btn-group" class="list-group panel">
                                    <a id="side-btn-1" href="#profile" class="list-group-item collapsed active-side-btn" data-parent="#sidebar">
                                        <i class="fas fa-user-edit"></i> 
                                        <span class="hidden-sm-down">User Details</span>
                                    </a>
                                    <a id="side-btn-2" href="#email" class="list-group-item collapsed" data-parent="#sidebar">
                                        <i class="far fa-envelope"></i>
                                        <span class="hidden-sm-down">Email</span>
                                    </a>
                                    <a href="#security-menu" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">
                                        <i class="fas fa-lock"></i>
                                        <span class="hidden-sm-down">Security</span>
                                    </a>
                                        <!-- Sub-items -->
                                        <div class="collapse" id="security-menu">
                                            <a id="side-btn-3" href="#verify" class="list-group-item" data-parent="#security-menu">Verify Email</a>
                                            <a id="side-btn-4" href="#2fa" class="list-group-item" data-toggle="#security-menu">Set up 2FA</a>
                                            <!-- <a href="#" class="list-group-item" data-parent="#menu3">3.3</a> -->
                                        </div>
                                    <a id="side-btn-5" href="#privacy" class="list-group-item collapsed" data-parent="#sidebar">
                                        <i class="fas fa-user-secret"></i>
                                        <span class="hidden-sm-down">Privacy</span>
                                    </a>
                                    <a id="side-btn-6" href="#payment" class="list-group-item collapsed" data-parent="#sidebar">
                                        <i class="fas fa-dollar-sign"></i>
                                        <span class="hidden-sm-down">Payment details</span>
                                    </a>
                                    <a id="side-btn-7" href="#deposit" class="list-group-item collapsed" data-parent="#sidebar">
                                        <i class="fas fa-piggy-bank"></i>
                                        <span class="hidden-sm-down">Deposit details</span>
                                    </a>
                                    <a id="side-btn-8" href="#wallets" class="list-group-item collapsed" data-parent="#sidebar">
                                        <i class="fas fa-wallet"></i>
                                        <span class="hidden-sm-down">Crypto wallets</span>
                                    </a>
                                    <a id="side-btn-9" href="#settings" class="list-group-item collapsed" data-parent="#sidebar">
                                        <i class="fa fa-gear"></i>
                                        <span class="hidden-sm-down">Settings</span>
                                    </a>
                                </div>
                            </div>

                            <!-- Sidebar Menu items -->
                            <main id="menu-items" class="col">
                                <div class="details-tab">
                                    <div class="page-header">
                                        <h1>User Details</h1>
                                    </div>
                                    <hr>
                                    <div>
                                        <%- include('templates/profile') -%>
                                    </div>
                                </div>
                            </main>
                        </div>
                    </div>
                </div>

            </div>
            <%- include('templates/footer') %>
        </div>
        <script src="/javascripts/details.js"></script>
    </body>
</html>
