<div class="dataset row">
    <div class="col-2 my-auto">
        <img class="dataset-icon" alt="ICON">
    </div>
    <div class="col-5 my-auto">
        <h2>DATASET NAME</h2>
    </div> 
    <div class="col-5">
        <ul id="label-list" class="list-group" style="border: none; text-align: left;">
            <li class="list-group-item label"><span id="data-type-legend" class="legend align-bottom"></span>Data Type</li>
            <li class="list-group-item label"><span id="annotation-type-legend" class="legend align-bottom"></span>Annotation Type</li>
            <li class="list-group-item label"><span id="community-status-legend" class="legend align-bottom"></span>Community Status</li>
        </ul>
    </div>
</div>