<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="delete-modal-label">Are you sure?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          If you choose to delete your account this action cannot be undone. 
          Furthermore, you will be unable to access any tokens that have not been transferred.
          If you are sure, please type your username (case sensitive) below:
          <input type="text" class="form-control" id="delete-confirm" style="margin-top: 1em;">
        </div>
        <div class="modal-footer">
          <button disabled id="delete-confirm-btn" type="button" class="btn btn-danger">Delete</button>  
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>