<div id="dropdown-container" class="dropdown position-static w-100">
  <button id="dropdown-btn" class="btn btn-light dropdown-toggle w-100" type="button" data-toggle="dropdown">
    <span id="dropdown-btn-label">
      <i class="fas fa-chevron-down"></i>
    </span>
  </button>
  <div class="dropdown-menu w-100 animate slidein">
    <div id="header-menu">
      <a class="btn btn-secondary btn-header position-static" href="/datasets">Browse Datasets</a>
      <a class="btn btn-secondary btn-header position-static" href="#">Browse Jobs</a>
      <a class="btn btn-secondary btn-header position-static" href="#">Guidelines</a>
      <a class="btn btn-secondary btn-header position-static" href="#">About LeyLine</a>
      <a class="btn btn-secondary btn-header position-static" href="#">Our Mission</a>
      <a class="btn btn-secondary btn-header position-static" href="#">Existing Projects</a>
    </div>
  </div>
</div>