<div class="dropdown position-static w-100">
  <button class="btn btn-light dropdown-toggle w-100" type="button" data-toggle="dropdown">
      <span class="caret"></span>
  </button>
  <div class="dropdown-menu w-100">
    <ul id="header-menu">
      <li><a class="btn btn-secondary btn-header position-static" href="#">Our Mission</a></li>
      <li><a class="btn btn-secondary btn-header position-static" href="#">About</a></li>
      <li><a class="btn btn-secondary btn-header position-static" href="#">Guidelines</a></li>
      <li><a class="btn btn-secondary btn-header position-static" href="#">Find a Client</a></li>
      <li><a class="btn btn-secondary btn-header position-static" href="#">Existing Projects</a></li>
    </ul>
  </div>
</div>