<div class="dropdown position-static w-100">
  <button id="dropdown-btn" class="btn btn-light dropdown-toggle w-100" type="button" data-toggle="dropdown">
      
  </button>
  <div class="dropdown-menu w-100">
    <div id="header-menu">
      <a class="btn btn-secondary btn-header position-static" href="#">Our Mission</a>
      <a class="btn btn-secondary btn-header position-static" href="#">About</a>
      <a class="btn btn-secondary btn-header position-static" href="#">Guidelines</a>
      <a class="btn btn-secondary btn-header position-static" href="#">Find a Client</a>
      <a class="btn btn-secondary btn-header position-static" href="#">Existing Projects</a>
    </div>
  </div>
</div>