<div class="fixed-top w-100">
    <nav class="navbar navbar-light topbar" style="background-color: #c6c5d4;">
        <a class="navbar-brand">Logo Here</a>
        <span>Start Earning Today!</span>
        <form>
            <button class="btn btn-sm btn-outline-secondary standard-btn" type="button">Login</button>
            <button class="btn btn-sm btn-outline-secondary standard-btn" type="button">Register</button>
        </form>
    </nav>
    <%- include ('dropdown') -%>
</div>