<div class="dropdown" style="margin-top: 3.6em;">
    <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" style="width: 100%;">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
  </div>