<div class="w-50 center-content">
    <ul id="label-list" class="list-group" style="border: none;">
        <li class="list-group-item label">Labelling Type 1</li>
        <li class="list-group-item label">Labelling Type 2</li>
        <li class="list-group-item label">Labelling Type 3</li>
        <li class="list-group-item label">Labelling Type 4</li>
    </ul>
</div>