<div class="wrapper">
    <div class="navbar" style="border: solid black 1px; background-color: gray;">
        <div class="col-md-6">
            <!-- LEYLINE LOGO GOES HERE. -->
        </div>
        <div class="col-md-6" style="text-align: center; border: solid black 1px;">
            <span style="color: white;">Earn money for taking photos and videos!</span>
        </div>
    </div>
</div>