<!-- <ul class="nav justify-content-center" style="background-color: grey;">
    <li class="nav-item">
        LOGO GOES HERE.
    </li>
    <li class="nav-item">
        Start earning today!
    </li>
    <li class="nav-item">
        <button class="btn btn-primary">Log In</button>
        <button class="btn btn-primary">Register</button>
    </li>
</ul> -->

<nav class="navbar navbar-light topbar fixed-top" style="background-color: #c6c5d4;">
    <a class="navbar-brand" style="border: solid black 1px;">Logo Here</a>
    <span style="border: solid black 1px;">Start Earning Today!</span>
    <form class="form-inline" style="border: solid black 1px;">
    <button class="btn btn-sm btn-outline-secondary" type="button">Register</button>
    <button class="btn btn-sm btn-outline-secondary" type="button">Log In</button>
    </form>
</nav>