<form>
    <p>Welcome, Username</p>
    <button class="btn btn-sm btn-outline-secondary standard-btn" type="button" onclick="location.href = 'login'">
        <i class="fas fa-sign-in-alt"></i> User Details
    </button>
    <button class="btn btn-sm btn-outline-secondary standard-btn" type="button" onclick="location.href = 'register'">
        <i class="fas fa-user-plus"></i> Log out
    </button>
</form>